@mixin lg {
  @media (max-width: 886px) {
    @content;
  }
}

@mixin mob {
  @media (max-width: 570px) {
    @content;
  }
}

@mixin xl {
  @media (max-width: 995px) {
    @content;
  }
}
.qt {
  height: 100%;
  width: 25%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;

  @include lg {
    display: none;
  }

  &box {
    font-size: 20px;
    padding: 5px;
    text-align: center;
    width: 200px;
    height: 200px;
  }
}
